body {
    font-family: "Roboto";
    font-size: 14px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Roboto";
}


/* Header */

.top-nav {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 600;
    background-color: #143f8c;
    color: #fff;
    font-family: "Roboto";
    font-weight: 200;
    height: 62px;
    max-height: 62px;
    padding: 0;
    width: 100%;
}

.top-nav ul li a {
    color: #fff;
}

.top-nav .top-bar,
.top-nav .top-bar ul {
    background-color: transparent;
}

.top-nav .top-bar .top-bar-left img {
    height: 20px;
}

.top-nav .top-bar .top-bar-left span {
    color: #fff;
}

.top-nav .title-bar .title-bar-right img {
    height: 20px;
}

.top-nav .title-bar .title-bar-right span {
    font-size: 12px;
}

.top-nav .top-bar .dropdown.menu .opens-right.is-active .is-dropdown-submenu,
.top-nav .top-bar .dropdown.menu .opens-left.is-active .is-dropdown-submenu {
    background: #001b50;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .47);
    display: block;
    height: inherit;
    padding: 20px 30px;
    position: absolute;
    border: none;
}

.top-nav .top-bar .dropdown.menu>li.is-active>a {
    color: #fff;
}

.top-nav .top-bar .dropdown.menu>li>a:hover,
.top-nav .top-bar .dropdown.menu>li>a:focus,
.top-nav .top-bar .dropdown.menu>li>a:active {
    border-bottom: 2px solid rgb(255, 174, 0);
}

.top-nav .top-bar .dropdown .is-dropdown-submenu a:hover {
    text-decoration: underline;
}

.top-nav .top-bar-right {
    height: 30px;
}

.title-browser {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 3rem;
    background: #153570;
    background: -o-linear-gradient(to top, #001c50, #143f8c);
    background: -moz-linear-gradient(to top, #001c50, #143f8c);
    background: -webkit-linear-gradient(to top, #001c50, #143f8c);
    background: linear-gradient(to top, #001c50, #143f8c);
}

.title-browser .title-browser-content {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}


/* End - Header */


/*  Main Content */

.main-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-content .filter-bar .filter-bar-item .item-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-content .filter-bar .filter-bar-item .item-title h6 {
    font-size: 14px;
}

.main-content .content .content-card-list .card-item {
    margin: 10px 10px 10px 0;
    display: block;
    padding: 1.5625rem 1.5625rem 1.3125rem;
    text-align: left;
    border: 0.0625rem solid #e1e1e1;
    border-bottom: 0.3125rem solid #003ea9;
}

.main-content .content .content-card-list .card-item:hover {
    border-bottom: 0.3125rem solid #f7b600;
}

.main-content .content .content-card-list .card-item h3 {
    border: 0;
    color: #001c50;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 0.875rem;
    padding: 0;
    text-decoration: none;
    white-space: inherit;
    word-wrap: break-word;
}

.main-content .content .content-card-list .card-item p {
    font-size: 14px;
    color: #565656;
}

.main-content .content .content-card-list .card-item .card-links-list {
    list-style-type: none;
    margin: 1.125rem 0 0;
    padding-left: 0;
    display: inline-flex;
}

.main-content .content .content-card-list .card-item .card-links-list li {
    margin-right: 2.1875rem;
}

.main-content .content .content-card-list .card-item .card-links-list li:hover {
    text-decoration: underline;
}

.main-content .content .section-content {
    padding: 20px 0;
}


/* END - Main Content */


/* Footer Info */

.footer-info .footer-info-image {}

.footer-info .footer-info-links {
    text-align: right;
}

.footer-info .footer-info-image img {
    height: 20px;
}

.footer-info .footer-info-image p {
    font-size: 13px;
}

.footer-info .footer-info-links ul {
    font-size: 13px;
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    margin: 0;
}

@media screen and (max-width: 39.9375em) {
    .footer-info .footer-info-links ul {
        display: inline;
    }
}

.footer-info .footer-info-links ul li {
    padding: 0 10px;
    justify-content: right;
    justify-items: right;
}


/* END - Footer Info */


/* Footer Expand Content */

.footer-expand-content {
    background: #001b50;
    color: #fff;
    padding-top: 48px !important;
    padding-bottom: 36px !important;
    text-align: center;
}

.footer-expand-content .wall {
    border-right: 0.0625rem solid #e1e1e1;
}

.footer-expand-content .footer-expand-content-title {
    font-size: 26px;
    padding-bottom: 20px;
}

.footer-expand-content .footer-expand-content-button {
    border-radius: 5px;
    background: #fff;
    border: solid 0.0625rem #e2e2e2;
    color: #003ea9;
    padding: 0.9375rem 2.8125rem;
}


/* End - Footer Expand Content */


/* Footer */

.callout {
    border: 0;
    margin: 0;
}

.footer .socials-icon a {
    padding-right: 15px;
    font-size: 30px;
    text-decoration: none;
    color: #767676;
}

.footer .socials-icon a:hover {
    color: #4a90e2;
}


/* END  - Footer *